<div class="container">
  <h1 class="text-center">Laissez-nous un message</h1>
  <br>
  <br>
  <%= form_for @contact do |f| %>
    <div class="form-group">
      <%= f.field_container :subject do %>
        <%= f.text_field :subject, class: 'form-control', placeholder: Spree.t('pages.contact.subject_placeholder') %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :email do %>
        <%= f.text_field :email, class: 'form-control', placeholder: Spree.t('pages.contact.email_placeholder') %>
        <%= f.error_message_on :email %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :content do %>
        <%= f.text_area :content, class: 'form-control', cols: 50, rows: 10, placeholder: Spree.t('pages.contact.content_placeholder') %>
      <% end %>
    </div>
    <div class="form-group filter-actions actions" data-hook="buttons">
      <%= button Spree.t('actions.send'), 'ok', 'submit', { class: 'btn-ucd btn-block' }%>
    </div>
  <% end %>
</div>



