<h1>Laissez-nous un message</h1>
<br>
<br>
<%= form_for @contact do |f| %>
  <%= f.field_container :subject do %>
    <%= f.text_field :subject, class: 'fullwidth', placeholder: Spree.t('pages.contact.subject_placeholder') %>
  <% end %>
  <br>
  <%= f.field_container :email do %>
    <%= f.text_field :email, class: 'fullwidth', placeholder: Spree.t('pages.contact.email_placeholder') %>
  <% end %>
  <br>
  <%= f.field_container :content do %>
    <%= f.text_area :content, class: 'fullwidth', cols: 50, rows: 10, placeholder: Spree.t('pages.contact.content_placeholder') %>
  <% end %>
  <br>
  <div class="form-buttons filter-actions actions" data-hook="buttons">
    <%= button Spree.t('actions.send'), 'ok' %>
  </div>
<% end %>

<% content_for :sidebar do %>
  Ultimate Cycle Distribution
<% end %>


