<h1>Laissez-nous un message</h1>

<%= form_for @contact do |f| %>
  <%= f.field_container :subject do %>
    <%= f.label :subject, Spree.t(:subject) %><br />
    <%= f.text_field :subject, :class => 'fullwidth' %>
  <% end %>
  <%= f.field_container :email do %>
    <%= f.label :email, Spree.t(:email) %><br />
    <%= f.text_field :email, :class => 'fullwidth' %>
  <% end %>
      <%= f.field_container :content do %>
    <%= f.label :content, Spree.t(:content) %><br />
    <%= f.text_area :content, :class => 'fullwidth' %>
  <% end %>
  <div class="form-buttons filter-actions actions" data-hook="buttons">
    <%= button Spree.t('actions.send'), 'ok' %>
  </div>
<% end %>

<% content_for :sidebar do %>
  Ultimate Cycle Distribution
<% end %>


