<% content_for :page_title do %>
  <%= Spree.t('pages.contacts') %>
<% end %>

<% content_for :table_filter do %>
 <div data-hook="admin_users_index_search">
    <%= search_form_for [:admin, @search], url: admin_contacts_url do |f| %>
      <div class="form-group">
        <%= f.label :email, Spree.t(:email) %> <br>
        <%= f.text_field :email, class: "form-control js-quick-search-target" %>
      </div>
      <div class='form-actions'>
        <%= button Spree.t(:search), 'search' %>
      </div>
    <% end %>
  </div>
<% end %>


<table class="table" id="listing_contacts">
  <colgroup>
    <col style="width: 25%">
    <col style="width: 75%">
  </colgroup>
  <tbody>
    <% @contacts.each do |contact|%>
      <tr id="<%= spree_dom_id contact %>" data-hook="admin_contacts_index_rows" class="<%= cycle('odd', 'even')%>">
        <td class='contact_email'><%= contact.email %></td>
        <td class='contact_subject'>
          <%= link_to contact.subject, admin_contact_path(contact.id) %>
          <% if !contact.read %>
            <span class='pull-right'> <%= Spree.t(:unread) %> </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @contacts %>
