<%= render :partial => 'spree/admin/shared/page_sub_menu' %>

<% content_for :page_title do %>
  <%= Spree.t('pages.contacts') %>
<% end %>


<table class="index" id="listing_contacts" data-hook>
  <colgroup>
    <col style="width: 25%">
    <col style="width: 75%">
  </colgroup>
  <tbody>
    <% @contacts.each do |contact|%>
      <tr id="<%= spree_dom_id contact %>" data-hook="admin_contacts_index_rows" class="<%= cycle('odd', 'even')%>">
        <td class='contact_email'><%= contact.email %></td>
        <td class='contact_subject'>
          <%= link_to contact.subject, contact_admin_pages_path(contact.id) %>
          <% if !contact.read %>
            <span class='pull-right'> <%= Spree.t(:unread) %> </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @contacts %>



<% content_for :sidebar do %>
  <% content_for :sidebar_title do %>
    <%= Spree.t(:search) %>
  <% end %>

  <div class="box align-center" data-hook="admin_users_index_search">
    <%= search_form_for [:admin, @search], url: contacts_admin_pages_url do |f| %>
      <div class="field">
        <%= f.label :email, Spree.t(:email) %> <br>
        <%= f.text_field :email, :class => 'fullwidth' %>
      </div>
      <div data-hook="admin_users_index_search_buttons">
        <%= button Spree.t(:search), 'search' %>
      </div>
    <% end %>
  </div>
<% end %>

