<% content_for :page_title do %>
  <%= Spree.t('pages.contacts') %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t('pages.contact.return_list_contacts'), admin_contacts_url, class: "btn-primary", icon: 'chevron-left' %>
<% end %>


<h2><%= @contact.subject %></h2>
<h4><%= @contact.email %></h4>
<br>
<p><%= simple_format(@contact.content) %></p>
