<div class="panel-heading">
  <h3 class="panel-title"><%= Spree.t(:order_adjustments) %></h3>
</div>

<table class="table table-bordered adjustments" data-hook="adjustments">
  <thead data-hook="adjustmment_head">
    <tr>
      <th><%= Spree.t(:adjustable) %></th>
      <th><%= Spree.t(:description) %></th>
      <th class="text-center"><%= Spree.t(:amount) %></th>
      <th class="text-center"><%= Spree.t(:state) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "adjustment", collection: @adjustments %>
  </tbody>
</table>
