<% content_for :page_title do %>
  <%= Spree.t('pages.partner.edit_partner') + " - #{@partner.name}" %>
<% end %>


<% content_for :page_actions do %>
  <%= button_link_to Spree.t('pages.partner.return_list_all_partners'), admin_partners_url, class: "btn-primary", icon: 'chevron-left' %>
<% end %>


<%= form_for @partner, url: admin_partner_path, method: :put, html: { multipart: true } do |f| %>

  <div class="form-group">
    <%= f.label :name, Spree.t(:name) %><br />
    <%= f.text_field :name, class: 'fullwidth' %>
  </div>

  <div class="form-group">
    <%= f.label :logo, Spree.t(:logo) %><br />
    <%= f.file_field :logo %>
    <br /><br />
    <%= image_tag @partner.logo.url(:medium) %>
  </div>

  <div class="form-group">
    <%= f.label :status, Spree.t(:status) %><br />
    <%= f.radio_button(:status, :surly) %>
    <%= label_tag(:age_partner, Spree.t('pages.partner.surly')) %>
    <%= f.radio_button(:status, :allcity) %>
    <%= label_tag(:age_adult, Spree.t('pages.partner.allcity')) %>
    <%= f.radio_button(:status, :nrth) %>
    <%= label_tag(:age_adult, Spree.t('pages.partner.nrth')) %>
    <%= f.radio_button(:status, :whisky) %>
    <%= label_tag(:age_adult, Spree.t('pages.partner.whisky')) %>
    <%= f.radio_button(:status, :issi) %>
    <%= label_tag(:age_adult, Spree.t('pages.partner.issi')) %>
    <%= f.radio_button(:status, :problem) %>
    <%= label_tag(:age_adult, Spree.t('pages.partner.problem')) %>    
  </div>

  <div class="form-group">
    <%= f.label :description, Spree.t(:description) %><br />
    <%= f.text_area :description, class: 'fullwidth', rows: 10, cols: 60 %>
  </div>


  <div class="form-buttons filter-actions actions" data-hook="buttons">
    <%= button Spree.t('actions.edit'), 'ok' %>
  </div>
<% end %>
