<% content_for :page_title do %>
  <%= Spree.t("pages.#{@page.name.parameterize.underscore}") %>
<% end %>

<%= form_for [:admin, @page] do |f| %>
  <%= f.field_container :content do %>
    <%= f.text_area :content, class: 'fullwidth tinymce', rows: 20 %>
    <%= tinymce %>
  <% end %>
  <br>
  <div class="form-buttons filter-actions actions text-center" data-hook="buttons">
    <%= button Spree.t('actions.update'), 'ok' %>
  </div>
<% end %>
