<% content_for :page_title do %>
  <%= Spree.t("pages.#{@page.name.parameterize.underscore}") %>
<% end %>

<%= form_for [:admin, @page] do |f| %>
  <span><%= flash[:alert] %></span>
  <div class="form-group">
	  <%= f.field_container :content do %>
	    <%= f.text_area :content, class: 'form-control tinymce', rows: 20 %>
	    <%= tinymce %>
	  <% end %>
	</div>
  <div class="form-actions filter-actions actions" data-hook="buttons">
    <%= button Spree.t('actions.update'), 'ok' %>
  </div>
<% end %>
