<h2 style='text-align: center'><%= Spree.t('pages.partner.surly') %></h2>
<br>
<table>
  <colgroup>
    <col style="width: 30%">
    <col style="width: 70%">
  </colgroup>
  <tbody>
    <% @partners.surly.each do |partner|%>
      <tr style='border-bottom: none'>
        <td style='text-align: center'>
          <%= image_tag partner.logo.url(:medium) %>
        </td>
        <td class='partner_name'>
          <h4><%= partner.name %></h4>
          <br>
          <%= partner.description %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<hr>
<br>
<h2 style='text-align: center'><%= Spree.t('pages.partner.allcity') %></h2>
<br>
<table>
  <colgroup>
    <col style="width: 30%">
    <col style="width: 70%">
  </colgroup>
  <tbody>
    <% @partners.allcity.each do |provider|%>
      <tr style='border-bottom: none'>
        <td style='text-align: center'>
          <%= image_tag provider.logo.url(:medium) %>
        </td>
        <td class='provider_name'>
          <h4><%= provider.name %></h4>
          <br>
          <%= provider.description %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<hr>
<br>
<h2 style='text-align: center'><%= Spree.t('pages.partner.nrth') %></h2>
<br>
<table>
  <colgroup>
    <col style="width: 30%">
    <col style="width: 70%">
  </colgroup>
  <tbody>
    <% @partners.nrth.each do |partner|%>
      <tr style='border-bottom: none'>
        <td style='text-align: center'>
          <%= image_tag partner.logo.url(:medium) %>
        </td>
        <td class='partner_name'>
          <h4><%= partner.name %></h4>
          <br>
          <%= partner.description %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<hr>
<br>
<h2 style='text-align: center'><%= Spree.t('pages.partner.whisky') %></h2>
<br>
<table>
  <colgroup>
    <col style="width: 30%">
    <col style="width: 70%">
  </colgroup>
  <tbody>
    <% @partners.whisky.each do |partner|%>
      <tr style='border-bottom: none'>
        <td style='text-align: center'>
          <%= image_tag partner.logo.url(:medium) %>
        </td>
        <td class='partner_name'>
          <h4><%= partner.name %></h4>
          <br>
          <%= partner.description %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<hr>
<br>
<h2 style='text-align: center'><%= Spree.t('pages.partner.issi') %></h2>
<br>
<table>
  <colgroup>
    <col style="width: 30%">
    <col style="width: 70%">
  </colgroup>
  <tbody>
    <% @partners.issi.each do |partner|%>
      <tr style='border-bottom: none'>
        <td style='text-align: center'>
          <%= image_tag partner.logo.url(:medium) %>
        </td>
        <td class='partner_name'>
          <h4><%= partner.name %></h4>
          <br>
          <%= partner.description %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<hr>
<br>
<h2 style='text-align: center'><%= Spree.t('pages.partner.problem') %></h2>
<br>
<table>
  <colgroup>
    <col style="width: 30%">
    <col style="width: 70%">
  </colgroup>
  <tbody>
    <% @partners.problem.each do |partner|%>
      <tr style='border-bottom: none'>
        <td style='text-align: center'>
          <%= image_tag partner.logo.url(:medium) %>
        </td>
        <td class='partner_name'>
          <h4><%= partner.name %></h4>
          <br>
          <%= partner.description %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<hr>
<br>
