<div class="col-md-12 col-sm-12" id="surly_photos">
  <h2 style='text-align: center'><%= Spree.t('pages.partner.surly') %></h2>
  <hr>
  <% @partners.surly.each do |photo|%>
    <div class="col-md-3 col-sm-4">
      <div class="photo_img panel panel-default">
        <div class="panel-body text-center">
          <%= link_to image_tag(photo.logo.url(:medium), :class =>'img-responsive'), photo.logo.url(Spree::ProductZoom::Config.default_image_style), :class => 'fancybox', :rel => 'surly_photos' %>
        </div>
      </div>
      <div class='photo_name'>
        <div class="animate-block">
          <h4><%= photo.name %></h4>
          <br>
          <%= photo.description %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="col-md-12 col-sm-12" id="allcity_photos">
  <h2 style='text-align: center'><%= Spree.t('pages.partner.allcity') %></h2>
  <hr>
  <% @partners.allcity.each do |photo|%>
    <div class="col-md-3 col-sm-4">
      <div class="photo_img panel panel-default">
        <div class="panel-body text-center">
          <%= link_to image_tag(photo.logo.url(:medium), :class =>'img-responsive'), photo.logo.url(Spree::ProductZoom::Config.default_image_style), :class => 'fancybox', :rel => 'allcity_phot
          os' %>
        </div>
      </div>
      <div class='photo_name'>
        <h4><%= photo.name %></h4>
        <br>
        <%= photo.description %>
        </div>
      </div>
  <% end %>
</div>
<div class="col-md-12 col-sm-12" id="whisky_photos">
  <h2 style='text-align: center'><%= Spree.t('pages.partner.nrth') %></h2>
  <hr>
  <% @partners.nrth.each do |photo|%>
    <div class="col-md-3 col-sm-4">
      <div class="photo_img panel panel-default">
        <div class="panel-body text-center">
          <%= link_to image_tag(photo.logo.url(:medium), :class =>'img-responsive'), photo.logo.url(Spree::ProductZoom::Config.default_image_style), :class => 'fancybox', :rel => 'nrth_photos' %>
        </div>
      </div>
      <div class='photo_name'>
        <h4><%= photo.name %></h4>
        <br>
        <%= photo.description %>
        </div>
      </div>
  <% end %>
</div>
<div class="col-md-12 col-sm-12" id="whisky_photos">
  <h2 style='text-align: center'><%= Spree.t('pages.partner.whisky') %></h2>
  <hr>
  <% @partners.whisky.each do |photo|%>
    <div class="col-md-3 col-sm-4">
      <div class="photo_img panel panel-default">
        <div class="panel-body text-center">
          <%= link_to image_tag(photo.logo.url(:medium), :class =>'img-responsive'), photo.logo.url(Spree::ProductZoom::Config.default_image_style), :class => 'fancybox', :rel => 'whisky_photos' %>
        </div>
      </div>
      <div class='photo_name'>
        <div class="animate-block">
          <h4><%= photo.name %></h4>
          <br>
          <%= photo.description %>
          </div>
        </div>
      </div>
  <% end %>
</div>
<div class="col-md-12 col-sm-12" id="issi_photos">
  <h2 style='text-align: center'><%= Spree.t('pages.partner.issi') %></h2>
  <hr>
  <% @partners.issi.each do |photo|%>
    <div class="col-md-3 col-sm-4">
      <div class="photo_img panel panel-default">
        <div class="panel-body text-center">
          <%= link_to image_tag(photo.logo.url(:medium), :class =>'img-responsive'), photo.logo.url(Spree::ProductZoom::Config.default_image_style), :class => 'fancybox', :rel => 'issi_photos' %>
        </div>
      </div>
      <div class='photo_name'>
        <div class="animate-block">
          <h4><%= photo.name %></h4>
          <br>
          <%= photo.description %>
          </div>
        </div>
      </div>
  <% end %>
</div>
<div class="col-md-12 col-sm-12" id="problem_photos">
  <h2 style='text-align: center'><%= Spree.t('pages.partner.problem') %></h2>
  <hr>
  <% @partners.problem.each do |photo|%>
    <div class="col-md-3 col-sm-4">
      <div class="photo_img panel panel-default">
        <div class="panel-body text-center">
          <%= link_to image_tag(photo.logo.url(:medium), :class =>'img-responsive'), photo.logo.url(Spree::ProductZoom::Config.default_image_style), :class => 'fancybox', :rel => 'problem_photos' %>
        </div>
      </div>
      <div class='photo_name'>
        <div class="animate-block">
          <h4><%= photo.name %></h4>
          <br>
          <%= photo.description %>
          </div>
        </div>
      </div>
  <% end %>
</div>

