<footer id="spree-footer" class="col-md-12" data-hook>
  <div id="footer-left" class="col-md-6 col-sm-6 col-xs-12" data-hook>
    <strong>NEWSLETTER:</strong>
    <%= form_for :newsletter, :url => newsletters_url, :html => {class: "form-inline"} do |f| %>
      <%= f.label :email, Spree.t(:email) %>
      <%= f.text_field :email, :class => 'form-control' %>
      <%= button Spree.t('actions.subscribe'), "S'abonner" %>
    <% end %>
  </div>
  <div id="footer-right" class="col-md-6 col-sm-6 col-xs-12" data-hook>
    <%= link_to Spree.t('pages.contact.contact') , new_contact_path %>
    <br>
    <%= link_to Spree.t('pages.partners_providers') , partners_path %>
    <br>
    <% Spree::Page.order('created_at DESC').each do |page| %>
      <%= link_to Spree.t("pages.#{page.name.parameterize.underscore}"), page_path(page.slug) %>
      <br>
    <% end %>
  </div>
</footer>
