<footer id="footer" class="col-md-12" data-hook>
  <div id="footer-right" class="col-md-6 col-sm-6 col-xs-12" data-hook>
    <h6>NEWSLETTER</h6>
    <%= form_for :newsletter, :url => newsletters_url do |f| %>
      <%= f.label :email, Spree.t(:email) %> <br>
      <%= f.text_field :email, :class => 'fullwidth' %>
      <br>
      <br>
      <%= button Spree.t('actions.subscribe'), "S'abonner" %>
    <% end %>
  </div>
  <div id="footer-right" class="col-md-6 col-sm-6 col-xs-12" data-hook>
    <%= link_to Spree.t('pages.contact.contact') , new_contact_path %>
    <br>
    <%= link_to Spree.t('pages.partners_providers') , partners_path %>
    <br>
    <% Spree::Page.order('created_at DESC').each do |page| %>
      <%= link_to Spree.t("pages.#{page.name.parameterize.underscore}"), page_path(page.slug) %>
      <br>
    <% end %>
  </div>
</footer>
