<div id="spree-footer">
    <footer id="footer" class="row" data-hook>
      <div id="footer-left" class="col-md-6" data-hook>
        <p><%= Spree.t :powered_by  %>&nbsp;<%= link_to 'Spree', 'http://spreecommerce.com/' %></p>
      </div>
      <div id="footer-right" class="col-md-6" data-hook>
        <strong>NEWSLETTER:</strong>
        <%= form_for :newsletter, :url => newsletters_url, :html => {class: "form-inline"} do |f| %>
          <%= f.label :email, Spree.t(:email) %>
          <%= f.text_field :email, :class => 'form-control' %>
          <%= button Spree.t('actions.subscribe'), "S'abonner" %>
        <% end %>
      </div>
    </footer>
</div>

