<% content_for :page_title do %>
  <%= Spree.t('newsletter.list_users') %>
  <%= " - #{@newsletters.count} emails" %>
<% end %>


<% content_for :page_actions do %>
  <%= button_link_to Spree.t('newsletter.new'), new_admin_newsletter_url, class: "btn-success", icon: 'add' %>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_newsletters_index_search">
    <%= search_form_for [:admin, @search], url: admin_newsletters_url do |f| %>
      <div class="form-group">
        <%= f.label :email_cont, Spree.t(:email) %> <br>
        <%= f.text_field :email_cont, class: "form-control js-quick-search-target" %>
      </div>
      <div class='form-actions'>
        <%= button Spree.t(:search), 'search' %>
      </div>
    <% end %>
  </div>
<% end %>

<table class="table" id="listing_users">
  <colgroup>
    <col style="width: 85%">
    <col style="width: 15%">
  </colgroup>
  <tbody>
    <% @newsletters.each do |newsletter|%>
      <tr id="<%= spree_dom_id newsletter %>" data-hook="admin_users_index_rows" class="<%= cycle('odd', 'even')%>">
        <td class='user_email'><%= newsletter.email %></td>
        <td class='actions actions-2 text-right'>
          <%= link_to_delete newsletter, :no_text => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @newsletters %>
